* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

:root {
  --main-title:#212529;
  --primary: #6BD697;
  --background: #CEF1DC;
  --secondary: #0F083E;
  --primary-text: #0F083E;
  --secondary-bg: white;
  --secondary-text: black;
  --focus-color: lightblue;
}

[data-theme='dark'] {
  --main-title: white;
  --primary: #6BD697;
  --background: black;
  --secondary: #0F083E;
  --primary-text: #0F083E;
  --secondary-bg: white;
  --secondary-text: black;
  --focus-color: lightblue;
}
