.root {
    text-align: left;
    width: 100%;
}

.trigger {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary);
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-weight: 700;
    text-align: left;
    line-height: 1.25rem;
    font-size: 1rem;
}

.chevron {
    color: white;
    width: 1.5rem;
    height: 1.5rem;

}

.trigger[data-state='open'] > .chevron {
    transform: rotate(180deg);
    color: var(--primary);
  }

.content {
    font-weight: 400;
    padding: 0.5rem 0;
    color: var(--white);
    transition: max-height 0.3s ease-in-out;
    font-size: 1rem;
}
